**/Ansible/Hosts/keys/
**/.ansible
**/.vscode
**/CI/testApp/.pytest_cache
**/CI/testApp/__pycache__
**/.pytest_cache
**/actions-runner
*/home/kali/Projects-git/DevSecOps-Docker-img/ELK/configs/kibana/.env
**/.env
**/.env.*
**/*.env
