name: Build

on: 
  push:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest #self-hosted
    defaults:
      run:
        working-directory: CI/testApp
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: CI/testApp/Dockerfile
          push: false
          tags: user/app:latest
